{{- $name := "yukifrog" -}}
{{- $email := "yukifrog@users.noreply.github.com" -}}
{{- $ageRecipient := "age18xqstqygh7plf3avmnz7r2j8w0kt3syhuwym2r5h2yq3k0nxyduswqc368" -}}

encryption = "age"

[data]
name = {{ $name | quote }}
email = {{ $email | quote }}

[age]
identity = "~/.config/age/key.txt"
recipient = {{ $ageRecipient | quote }}

[git]
autoCommit = true
autoPush = false
